<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixar Vídeo do YouTube</title>
</head>
<body>
    <h1>Baixar Vídeo do YouTube</h1>
    <form action="/formats" method="post">
        <label for="video_url">URL do Vídeo:</label>
        <input type="text" id="video_url" name="video_url" required><br><br>

        <button type="submit">Ver Formatos Disponíveis</button>
    </form>
</body>
</html>
